@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Cinzel&family=Crimson+Text&family=EB+Garamond&family=Quicksand:wght@300&family=Raleway:wght@100;200;400&family=Roboto+Slab&family=Staatliches&family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cardo:wght@700&family=Cinzel&family=Cormorant:wght@300&family=Crimson+Text&family=EB+Garamond&family=Quicksand:wght@300&family=Raleway:wght@100;200;400&family=Roboto+Slab&family=Staatliches&family=Zilla+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Cardo', serif;
font-family: 'EB Garamond', serif;
font-family: 'Raleway', sans-serif;
 box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0,6,rgba(0,0,0,0,6)),url(img/wall2.jpg));
    background-size:cover ;
    background-position: center;
    position: relative;
}


/*Button*/
.button-59 {
  align-items: center;
  background-color: transparent;
  border: 2px solid #fff;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #fff;
  font-family: Inter,sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: 5px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #fff;
}

.button-59:hover {
  border-color: #fff;
  color: rgb(10, 86, 14);
  fill: rgb(10, 86, 14);
  background-color: white;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}



.bgimg{
    width: 1700px;
    height: 1000px;
    display: fit;
}

nav{
    position: absolute;
    top: 0;
    left: 10;
    width: 100%;
    padding: 8px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 150px;
    
}
.logo{
    width: 180px;
    height: 120px;
    margin-left: 6%;
    margin-top: 20px;
    cursor: pointer;
    
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 5px 25px;
    position:relative;
    list-style: none;

}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li ::after{
  content: '';
  height:2px;
  width:0;
  background:#fff;
  position:absolute;
  left:0;
  bottom:-10px;
  transition: 0.5s;

}

nav ul li :hover::after{
  width: 100%;
  
}


.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    /*-webkit-text-stroke: 1px #fff;*/
    color: transparent;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px,0;
    animation: backcolor 8s linear infinite alternate;

    font-family: 'Berkshire Swash', cursive;
font-family: 'Cardo', serif;
font-family: 'Cinzel', serif;


}
@keyframes backcolor{
    100%{
        background-position: 0 0;
    }
}

.title2{
    position: absolute;
    top: 60%;
    left: 38%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    /*-webkit-text-stroke: 1px #fff;*/
    color: transparent;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px,0;
    animation: backcolor 8s linear infinite alternate;

    font-family: 'Berkshire Swash', cursive;
    font-family: 'Cardo', serif;
    font-family: 'Cinzel', serif;

}
@keyframes backcolor{
    100%{
        background-position: 0 0;
    }
}
/* chech in check out*/

.form {
  margin-left: 10px;
  justify-content: center;
  width: 800px;
 
  display: inline;
  display:grid;
  padding:block;
  
  
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}


@media print {
    footer {page-break-after: always;}
  }


.secondbody{
    background-color: #f2f2f2; 
}

.abtext{
  
  
  margin-top: 130px;
  
  font-size: 23px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.span{
  font-size:150px;
  line-height:0.6em;
  opacity:0.2;
  margin-left: -1100px;
  margin-top: 75px;
}


.accommodation{
    width:100%;
    margin-top:25px;
    margin-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  box-sizing:border-box;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media print {
  footer {page-break-after: always;}
}


/*OLIVIA RESTUARENT & BAR*/

.main_card h1{
  width:100%;
  margin-top:25px;
  margin-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  


}




.main_card {
  
  position: relative;
  margin: auto;
  box-sizing:border-box;
  background-image: url(img/4909528.jpg);
}  

.row{
  align-items: center;
  padding-left: 110px;
  display: block;
  
}

.row > .column {
  padding: 8px 8px;
  width: 350px;
  align-items: center;
 
}

.column{
  width: 500px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(8, 7, 7);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: rgb(173, 16, 16);
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.olivia{
  margin-top: 64px;
  display: grid;
  display: inline;
  margin-left: 80px
}

.offers {
  padding: 25px;
  font-size: 23px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  background-image: url(img/mk8.jpg);
  background-size: cover;

}

.off1 img{
  display: inline-block;
  height: 500px;
  padding: 8px 8px;  
}


@media print {
  footer {page-break-after: always;}
}

/* Footer */

footer {
  background-color: #373737;
}

.footer__container {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 5rem;
  padding: 16px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: white;
}

.footer__col h3 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color:white;
}

.footer__col a {
  margin-bottom: 1rem;
  color:white;
  cursor: pointer;
  transition: 0.5s;
  display: inline-block;
  text-decoration: none;
}
.footer__col a:hover {
  color: #D19669;
}

.footer__col :hover {
  color: #D19669;
}

.footer__bar {
  position: relative;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  text-align: right;
  overflow: hidden;
}

.footer__bar::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 28rem;
  transform: translateY(-50%);
  width: 20rem;
  height: 2px;
  background-color: var(--text-light);
}

.text span{
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: auto;
}

.text2{
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
  margin-left: auto;
}